<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		<smtp from="cse.20bcsa27@silicon.ac.in">
			<network host="sandbox.smtp.mailtrap.io"
						port="2525"
						userName="0f45558b49d4cc"
						password="4efba32a3acb58"
						enableSsl="true" />

		</smtp>
</configuration>